.article {
  align-items: center;

  article {
    .article_ {
      &_date {
        color: #D1C8D0;
        font-weight: 600;
        font-size: 20px;

        @media only screen and (max-width: 576px) {
          font-size: 15px;
        }
      }
    }

    h2 {
      letter-spacing: 0;
      font-weight: 600;

      a {
        color: #A1799D;

        @media only screen and (max-width: 768px) {
          font-size: 20px;
        }

        @media only screen and (max-width: 576px) {
          font-size: 15px;
        }
      }
    }
  }

  span.float-right {
    font-size: 28px;
    color: #A1799D;
  }
}