<div class="row _about_me_row" id="about_me">
  <div class="container-lg">
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="row">
            <img src="{{ site.baseurl }}/images/crop_bg_crop.png" alt="" class="works-img-thumbnail" style="border-radius: 50%;">
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 align-self-center">
        <h4>
          RUBY ON RAILS DEVELOPER
        </h4>
        <h4>Faizah Aulia</h4>
        <span class="font-italic">Fail soon, fail often, fail more.</span> <br/>
        <button class="work_with_me mt-3">
          <a href="{{ site.baseurl }}/aboutme">MORE ABOUT ME </a>
        </button>
      </div>
    </div>
  </div>
</div>