
<div class="container-lg">
  <div class="col my-4">
    <img src="{{ site.baseurl }}/images/crop_bg_crop.png" alt="" class="py-4 text-center img-thumbnail border-0 rounded-circle" style="height: 200px; width: 200px; object-fit: contain;display: flex;margin: 0 auto;">
    <h3>About Me</h3>
    <p class="text-justify">
      Hi, my name is Faizah Aulia. I love to learn something new and challenge myself into field I never been into, thats why I took my degree on Computer Science Education as in IT field we always learn something new everyday. I started code at age 11 with macromedia flash (now known as Adobe Flash), it was my first experience and I fall in love at coding, thus I always took IT-related extracullicular when I was in High School (both Junior and Senior High School) then I landed my degree on Computer Science Education in College.
    </p>

    <p class="text-justify">
      Once I thought am not fit into this industry, impostor syndrome, dominate with men, etc, it was up and down, but I just keep moving forward though I dont know where this path lead me to, I mean we'll never get 100% knowledge bout a things.

      Fail more fail often somehow become my motto nowadays.
    </p>

    <h3>Work Experience</h3>
    <h5>
      <b>BAPPENAS</b>
      <small>2017 - 2018</small>
    </h5>
    <p>
      <b>Software Developer</b> <br />
      Build system that connecting between 2 departments so it will made them easier to decided something as data they needed shared together in one place. <br />
      Technology I use : Code Igniter, JQuery, Javascript, SCSS
    </p>
    <h5>
      <b>Crafter Digital</b>
      <small>2019</small>
    </h5>
    <p>
      <b>Ruby on Rails Developer</b> <br />
      Developing apps using ruby on rails. <br />
      Technology I use : Ruby on Rails, JQuery, Javascript, SCSS, Webpack, Heroku
    </p>
  </div>
</div>