<div class="container-lg full_screen">
  <div class="row ">
    <div class="col-lg-6 col-md-6 col-sm-12 banner-left">
      <div class="row justify-content-md-center">
        <div class="frame_image animate__animated animate__fadeInUp animate__delay-1s">
          <img src="../src/images/crop_bg_crop.webp" class="profile_image" alt="">
        </div>
      </div>
      <div class="container_pict">
      </div>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-12 px-5 px-sm-5 banner-right">
      <div class="desc_box">
        <div class="desc_text">
          <p class="text_hello">Hello I'm</p>
          <p class="text_name">Faizah Aulia</p>
          <p class="text_desc">Im a web developer. I build website and enjoying learning new things.</p>
        </div>

        <div class="desc_button">
          <div class="socmed_button">
            <a href="https://github.com/auliafaizahr"><i class="icon_banner fab fa-github"></i></a>
            <a href="https://twitter.com/auliafaizahr"><i class="icon_banner fab fa-twitter"></i>
            <a href="https://instagram.com/auliafaizahr
            
            "><i class="icon_banner fab fa-instagram"></i></a>
          </div>
          <div class="button_more">
            <button>KNOW MORE</button>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
