<div class="row _blog_row" id="blog">
  <div class="container-lg">
    <div class="col">
      <div class="title pb-4">
        <h1>BLOG</h1>
      </div>

      <div class="list_posts">
        <div class="row row_title">
          <div class="col mb-5">
            <h2>Recent Posts</h2>
          </div>
        </div>

        {% for post in site.posts limit:3 %}
          {% include article-lists.html %}
        {% endfor %}

        <div class="mt-5">
          <a href="{{ site.baseurl }}/blog">
            <button class="btn_univ">SEE ALL POSTS</button>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
