<div class="container-lg full_screen main_title" id="contact">
  <div class="row">
    <div class="col">
      <div class="title">
        <h1>contact</h1>
      </div>
    </div>
  </div>

  <div class="row">
    <form class="col-lg-6 col-md-12 col-12 mx-auto" action="https://formspree.io/xoqkykre" method="POST">
      <div class="form_contact">
        <div class="form_child">
          <label>Name</label> {{ id}}
          <input type="text" name="name">
        </div>

        <div class="form_child">
          <label>Email</label>
          <input type="email" name="_replyto">
        </div>

        <div class="form_child">
          <label>Message</label>
          <textarea name="message" id="" cols="30" rows="10"></textarea>
        </div>

        <div class="form_child">
          <input type="submit" value="Send">
        </div>
      </div>
    </form>
  </div>
</div>