<!-- begin footer -->
<div class="row footer-blog">
  <div class="container-lg">
    <div class="col">
      <div class="row justify-content-center my-3 py-2">
        <span class="footer-title">Faizah Aulia</span>
      </div>

      <div class="row justify-content-center my-3 py-2">
        <span class="icon-footer mx-3"><a href="https://github.com/auliafaizahr"><i class="fab fa-github" style="color: white;"></i></a></span>
      </div>

      <div class="row justify-content-center my-3 py-2 footer-border">
        <span class="cr-title">Faizah Aulia 2022 - ALL REGISTERED</span>
      </div>
    </div>
  </div>
</div>
