<!-- begin footer -->
<footer class="footer-blog">
  <div class="row">
    <div class="col">
      <div class="row justify-content-center my-3 py-2">
        <span class="footer-title">Faizah Aulia</span>
      </div>

      <div class="row justify-content-center my-3 py-2">
        <span class="icon-footer mx-3"><i class="fab fa-github"></i></span>
        <span class="icon-footer mx-3"><i class="fab fa-twitter"></i></span>
        <span class="icon-footer mx-3"><i class="fab fa-linkedin-in"></i></span>
      </div>

      <div class="row justify-content-center my-3 py-2 footer-border">
        <span class="cr-title">Faizah Aulia 2020 - ALL REGISTERED</span>
      </div>
    </div>
  </div>
</footer>
<!-- end footer -->
