<div class="container-lg">
  <div class="row _header">
    <div class="col col-12">
      <!-- begin header -->
      <nav class="navbar navbar-expand-lg navbar-light bg-ligh">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">HOME <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#about_me">ABOUT</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#works">WORKS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#blog">BLOG</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#contact">CONTACT</a>
            </li>
          </ul>
        </div>
<!-- 
        <div class="logo">
          <a class="logo__link" href="{{site.baseurl}}/">
          {%if site.data.settings.logo %}
            <img class="logo__image" src="{{ site.baseurl }}/images/{{ site.data.settings.logo }}" alt="{{ site.data.settings.title }}">
          {% else %}
            {{ site.data.settings.title }}
          {% endif %}
          </a>
        </div>

        <nav class="main-nav">

          <div class="main-nav__box">
            <div class="nav-icon__close">
              <i class="ion ion-ios-close-circle-outline"></i>
            </div>

            <div class="nav__title">Menu</div>

            <ul class="nav__list list-reset">
              <li class="nav__item">
                <a href="{{site.baseurl}}/" class="nav__link">Home</a>
              </li>
              {% for page in site.pages %}
                {% unless page.name == 'tags.html' or page.name == '404.html' %}
              {% if page.title %}
              <li class="nav__item">
                <a href="{{ page.url | prepend: site.baseurl }}" class="nav__link">{{ page.title }}</a>
              </li>
              {% endif %}
                {% endunless %}
              {% endfor %}
            </ul>

          </div>
        </nav> -->

        <!-- <div class="nav-buttons">
          <i class="nav__icon nav__icon-menu ion ion-md-menu" aria-label="Menu Icon"></i>
          <i class="nav__icon nav__icon-search ion ion-md-search" aria-label="Search Icon"></i>
        </div>

        <div class="header__overlay"></div> -->
      </nav>
      <!-- end header -->
    </div>
  </div>
</div>