.odd_bg {
  background-color: #F6F5F5;
}

.main_title {
  .row {
    padding: 1em;
  }

  .title {

    h1 {
      color: #9e898b;

      @media only screen and (max-width: 768px) {
        font-size: 30px;
      }
    }
  }
}