.list_posts {
  .row_title {
    margin-bottom: -2em;

    h2 {
      @media only screen and (max-width: 768px) {
        font-size: 20px;
      }

      @media only screen and (max-width: 576px) {
        font-size: 15px;
      }
    }
  }
}

.blog-page-title {
  .row {
    padding: 1em;
  }

  .title {
    
    h1 {
      font-weight: 600;
      color: #9e898b;

      @media only screen and (max-width: 768px) {
        font-size: 30px;
      }
    }

    &::after {
      content: " ";
      display: block;
      position: absolute;
      height: 5px;
      background: #9e898b;
      width: 40px;
      top: 4em;
    }
  }
}

.container-article {
  margin-top: 2em;
  padding-bottom: 3em;

  h2.page_title {
    font-weight: 600;
    color: #9e898b;
    padding: 1em 0;
  }

  h4 {
    font-weight: 600;
    color: #9e898b;
  }

  .box-clouds-tag {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    a.tags-cloud {
      color: #9E898B;
      padding: .5em 1em;
      background-color: rgba(158, 137, 139, 0.15);
      margin: .2em;
      border-radius: 10px;
      font-weight: 600;

      @media only screen and (max-width: 768px) {
        font-size: 13px;
      }

      @media only screen and (max-width: 576px) {
        font-size: 10px;
      }

      &:hover {
        text-decoration: none;
        background-color: white;
      }
    }
  }


  .article {
    margin-bottom: .5em;

    .card {
      border: none;
      padding: 1em;

      h2.article__title {
        @media only screen and (max-width: 768px) {
          line-height: 1;
        }
      }

      p.article__excerpt {
        color: #6D6D6D;

        @media only screen and (max-width: 768px) {
          font-size: 13px;
        }
  
        @media only screen and (max-width: 576px) {
          font-size: 12px;
        }
      }

      .article-tags__box {
        span, .article__tag {
          font-weight: 600;
          font-size: 15px;
          color: #b393af;
          position: relative;
          z-index: 3;

          @media only screen and (max-width: 768px) {
            font-size: 12px;
          }
        }
      }

      &:hover {
        cursor: pointer;
      }
    }

    .article__date {
      @media only screen and (max-width: 768px) {
        font-size: 13px;
      }

      @media only screen and (max-width: 576px) {
        font-size: 10px;
      }
    }
  }

  .article:nth-of-type(odd) {
    .card {
      background-color: rgba(158, 137, 139, 0.15);

      &:hover {
      }
    }
  }

  .article:nth-of-type(even) {
    .card {
      background-color: white;
      
      &:hover {
      }
    }
  }
  
}

.container-post {
  .post {
    &__date {
      font-weight: 600;
      color: rgba(209, 200, 208, 1);
      font-size: 15px;

      @media only screen and (max-width: 576px) {
        font-size: 12px;
      }
    }

    &-title {
      font-size: 32px;
      font-weight: 700;
      color: #9E898B;

      @media only screen and (max-width: 768px) {
        font-size: 28px;
      }
    
      @media only screen and (max-width: 576px) {
        font-size: 20px;
      }
    }

    &__content {
      text-align: justify;
      color: #757575;

      p {
        @media only screen and (max-width: 768px) {
          font-size: 15px;
        }
      
        @media only screen and (max-width: 576px) {
          font-size: 12px;
        }
      }
    }

    &__author {
      color: rgba(209, 200, 208, 1);
      font-weight: 600;
      font-size: 15px;

      @media only screen and (max-width: 576px) {
        font-size: 12px;
      }

      .author-name {
        color: rgba(209, 200, 208, 1);
        font-size: 15px;

        @media only screen and (max-width: 576px) {
          font-size: 12px;
        }
      }
    }

    &__share {
      ul li {
        display: inline-block;
        margin: 0 10px;
      }
    }
  }

}

.pt-6 {
  padding-top: 4em;
  
  @media only screen and (max-width: 768px) {
    padding-top: 2em;
  }

  @media only screen and (max-width: 576px) {
    // font-size: 10px;
  }
}