.form_contact {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .form_child {
    display: flex;
    flex-direction: column;
    margin: 1em;
    width: 100%;

    label {
      color: #9e898b;
    }

    input, textarea {
      border-top: none;
      border-left: none;
      border-right: none;
      border-bottom: #9e898b 1px solid;
      padding: 10px;
      background: none;

      &:focus {
        background: #f6f5f5;
      }
    }

    input[type="submit"] {
      background-color:  #EBAC9F;
      // color: white;
      font-weight: 500;
      border: none;
    }
  }

}

button {
  outline: none !important;
  box-shadow: none !important;
}
