---
layout: default
---

{% include header_blog.html %}

<div class="container-lg container-article">
  <div class="row">
    <div class="col-12 px-md-5 px-5">
      <h2 class="page_title">Tag : {{ page.tag }} </h2>
      {% if site.tags[page.tag] %}
        {% for post in site.tags[page.tag] %}
        <div class="row article">
          <article class="card">
            <div class="article_">
              <span class="article__date"><time datetime="{{ post.date | date_to_xmlschema }}">{% assign date_format = site.minima.date_format | default: "%B %-d, %Y" %}{{ post.date | date: date_format }}</time></span>
            </div>

            <h2 class="article__title">
              <a href="{{ post.url | prepend: site.baseurl }}" class="stretched-link">{{post.title}}</a>
            </h2>
            <p class="article__excerpt">
              {% if post.description %}
                {{ post.description }}
              {% else %}
                {{ post.content | strip_html | truncate: 300 }}
              {% endif %}
            </p>

            <div class="article-tags">
              {% if post.tags.size >= 1 %}
              <div class="article-tags__box">
                <span>Tags : </span>
                {% for tag in post.tags %}
                  <a href="{{ site.baseurl }}/blog/tags/{{ tag }}" class="article__tag">{{ tag }}</a>
                {% endfor %}
              </div>
              {% else %}
              {% endif %}
            </div>
          </article>
        </div>

        {% endfor %}
        {% else %}
        <p>There is no posts for this tag.</p>
      {% endif %}
    </div>
  </div>
</div>

{% include footer_blog.html %}
